root = true

[*.sh]
indent_style = space
indent_size = 1
space_redirects = true
binary_next_line = true
shell_variant = bash

# SQL files
[*.sql]
indent_style = space
indent_size = 2

# Configuration files
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2
